{% extends 'base.html.twig' %}

{% block title %}Edit: {{ movie.title }}{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden relative">
            <div class="px-4 py-8">
                <div class="mb-2">
                    <h2 class="text-2xl font-semibold text-gray-800">
                        <i class="fas fa-film"></i> Edit {{ movie.title }}
                    </h2>
                </div>

                {{ form_start(form) }}

                {{ form_widget(form) }}

                <div class="mt-4">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r">
                        <i class="fas fa-sync-alt"></i> Update
                    </button>
                    <a 
                        href="{{ path('app_movies') }}"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-r"
                    >
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}